.list-wrapper{
  float: left ;
  margin-left: 25%;
  width: 50% ;
}

.hero-avatar{
  background-size: 100% !important;
}

.list-element-wrapper{
  height: 120px;
}

md-card{
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
  margin-bottom: 50px;
  font-family: Roboto;
}
